# Django
Django~=3.2
django-cors-headers
djangorestframework~=3.12.4
django-role-permissions~=3.1.1

# Messaging & communications
multipledispatch~=0.6.0
# pyserial~=3.5

# Date and time-zones
python-dateutil

# Requests and JSON
requests~=2.25.1
urllib3==1.25.11
jsmin

# State
transitions~=0.8.8

#Antenna
#uhfReaderApi==0.0.5.1
#gpiozero

#Camera
opencv-python==4.6.0.66

#Encryption
click==8.1.3
ecdsa==0.18.0
